body {
    font-family: 'Geist Mono', sans-serif;
    background: white;
    padding: 2rem;
  }
  
  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  nav a {
    margin-right: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  