---
layout: layout.njk
title: About
---

<img src="/images/about.jpg" alt="Portrait of Panos" />

<p>Panos Tsomakos is a photographer with a deep passion for film and experimental techniques...</p>

<p>INSTAGRAM: PANOSCR<br>
MAIL: PANOS@TSOMAKOS.COM</p>

<p>WEB DESIGN: SOULIOTIS</p>
<p>© All images are copyrighted and owned by PANOS TSOMAKOS</p>
