---
title: About Panos Tsomakos
layout: _includes/layout-about.njk
---

<div class="about-page">
  <img src="/assets/images/drkrm_xprnc-14-2-1-2.png" class="about-image" alt="Panos Tsomakos Work">
  <div class="about-text">
    <p class="text-3"><span class="text-black">Panos Tsomakos is a photographer with a deep passion for film and experimental techniques. His art focuses on capturing authentic moments and emotions, with a strong emphasis on human nature.</span></p>
    <p class="text-4"><span class="text-black">INSTAGRAM  PANOSCR<br>MAIL       PANOS@TSOMAKOS.COM</span></p>
    <p class="text-5"><span class="text-black">WEB DESIGN SOULIOTIS</span></p>
    <p class="text-6"><span class="text-black">All images are copyrighted and owned by PANOS TSOMAKOS</span></p>
    <div class="menu-links">
      <p class="text-7"><span class="text-black">PANOS TSOMAKOS</span></p>
      <p class="text-8"><span class="text-black">PRIVATE</span></p>
      <p class="text-9"><span class="text-black">COMMISSIONED</span></p>
      <p class="text-10"><span class="text-black">ⓘ</span></p>
    </div>
  </div>
</div>